html,
body{
	height: 100%;
	background: #404041;
}
.page-wrapper .title center h1{
	font-size: 50px;
}
.blog .division{
	padding-right: 10px;
	height: 500px;
	display: flex;
}

.blog .division .our-blog{
	flex: 1;
	padding: 10px 40px;
}



.blog .division .our-blog h1{
	font-size: 28px;
	color: #FCE772;
}

.blog .division .our-blog h1:hover{
	font-size: 28px;
	color: #FDDA19;
}

.blog .division .our-blog p:hover{
	color: #BAE71D;
}

.blog .division .our-blog p{
	color: #CDFA32;
	font-size: 20px;
	padding-top: 40px;
}










.page-wrapper a .next{
	background: #4DD94A;	
	padding: 8px 14px;
	font-size: 12px;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
}

.page-wrapper a .prev{
	background: #4DD94A;
	padding: 8px 14px;
	font-size: 12px;
	margin-bottom: 5%;
	margin-left: 35%;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
}