html,
body{
	height: 100%;
}
.page-wrapper .title center h1{
	font-size: 50px;
	color: #C2C1C1;
}

.page-wrapper .title center h1:hover{
	color: #D9D9D9;
}

.content .content-treatment{
	padding-right: 10px;
	height: 250px;
	display: flex;
}

.content .content-treatment .treatment-wedo{
	flex: 1;
	padding: 10px 40px;
}



.content .content-treatment .treatment-wedo h1 a{
	color: #FDFA3F;
}

.content .content-treatment .treatment-wedo p{
	color: #F1D447;
	font-size: 20px;
}
